<div class="cart container">
    <h1>Orders</h1>
	<form action="/order" method="POST" >
	
    <table>
		    {{#each orders}}
        <tr>
            <td>#{{orderId}}</td>
            <td>{{status}}</td>
            <td>R{{amount}}</td>
			<td> <button class="btn" type="submit" style="margin-left: auto" name="statusBtn"  value="small" >status</button></td>

        </tr>
        {{/each}}
	</table>

	</form>
</div>